@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root[class="light"] {
  --border-color: rgba(0, 0, 0, 0.12);
  --hover-border-color: rgba(0, 0, 0, 0.3);
}

:root[class="dark"] {
  --border-color: rgba(255, 255, 255, 0.12);
  --hover-border-color: rgba(255, 255, 255, 0.3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Code', sans-serif;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.good-border-bottom {
  border-bottom: 1px solid var(--border-color);
}

.clipboard-item {
  border-color: var(--border-color);
}
.clipboard-item:hover {
  border-color: var(--hover-border-color);
}